<div class="container my-12 mx-auto px-4 md:px-12">

     {% if products|length > 1 %}
   
    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg block w-1/6 p-2.5" onChange="window.location=this.value;">
        <option selected>Sort</option>
        {{ knp_pagination_sortable(products, 'Name A-Z', 'name', {}, {'direction': 'asc'}) }}
        {{ knp_pagination_sortable(products, 'Name Z-A', 'name', {}, {'direction': 'desc'}) }}
        {{ knp_pagination_sortable(products, 'Prices ascending', 'price', {}, {'direction': 'asc'}) }}
        {{ knp_pagination_sortable(products, 'Prices descending', 'price', {}, {'direction': 'desc'}) }}
    </select>
    
    {% endif %}

    <div class="count text-gray-400 flex justify-end">
    
        {% if products|length == 1 %}

            {{ products.getTotalItemCount }} Product
      
    	{% elseif products|length == 0 %}

    	{% else %}
    
            {{ products.getTotalItemCount }} Products
   
	    {% endif %}

    </div>

    <div class="flex flex-wrap -mx-1 lg:-mx-4">
     
        {% for product in products %}
    
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">   
            <div class="overflow-hidden rounded-lg shadow-lg">

                <a href="{{ path('app_product', {'id': product.id}) }}">
                    <img src="https://via.placeholder.com/400x200" alt="{{ product.name }}" class="card-img-top">
                </a>

                <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="text-lg">
                        <a class="font-medium hover:underline text-black" href="{{ path('app_home') }}">
                            {{ product.name }}
                        </a>
                        <p class="card-text text-sm">{{ product.description }}</p>
                        <span class="font-semibold mt-auto">${{ product.price }}</span>
                        <a href="{{ path('app_product', {'id': product.id}) }}" class="flex flex-end items-end justify-end text-indigo-700 hover:text-black pt-1 pb-1 pl-6 pr-6 uppercase w-full font-medium text-sm">
					        View details
				        </a>
                    </h1>
                </header>

            </div>
        </div>

        {% else %}

    </div>
</div>

	<div class="flex flex-col justify-center items-center py-8">
		<h2 class="text-sm mb-8 font-semibold uppercase">
			No products
		</h2>
	</div>

        {% endfor %}
        
    </div>
        <div class="navigation flex justify-center">
		    {{ knp_pagination_render(products) }}
		</div>
    </div>